<%-include('header')-%>
<%-include('home_nav')-%>
<div class="container center-div my-5 home-diary">
    <div style="padding:0;position:absolute;top:50%;transform:translateY(-50%);">
<p class="home-disc">A diary is a private place where you can keep your thoughts, feelings and opinions on everything from work to school and everywhere in between</p>
<h3><center><a href="/login" class="create-diary-btn">Enter</a></center></h3>
</div>
</div>
<%-include('footer')-%>