<%-include('header')-%>

<div class="text-center center-div my-5" id="signin">
    <div class="container w-25 border py-5">
        <div class="title pb-2">
            <h2 class="font-weight-bold">LogIn</h2>
        </div>
        <form action="/login" method="post" class="pt-3">
            <div class="form-group m-2">
                <input type="email" class="form-control" placeholder="email" name="email">
                <small class="font-text text-start text-muted">Register email address</small>
            </div>
            <div class="form-group m-2">
                <input type="password" class="form-control" placeholder="password" name="password">
            </div><br>
            <button type="submit" class="btn" 
            style="color:aliceblue;background-color:rgb(105,67,167);border:none">LogIn</button>
        </form>
    </div>
</div>
<% if(messages.error){%>
    <div class="alert alert-danger text-center">
        <ul>
            <% messages.error.forEach(function(error){%>
                <%= error %>
           <% });%>
        </ul>
    </div>
<% } %>
<% if(messages.success){%>
    <div class="alert alert-danger text-center">
                <li><%= messages.success %></li>
    </div>
<% }%> 
<%-include('footer')-%>